<div class="container text-center mt-5">
  <div class="style-home-title">
    <h1>WELCOME</h1>
    <h5 class="mt-3">
      This is a project that simulates a restricted area of ​​an inventory /
      warehouse.
    </h5>
  </div>

  <div class="row justify-content-evenly">
    <div class="col-3 mt-5 p-3 style-home-card">
      <p class="lead">If you are a registered user, please login to access.</p>
      <a class="btn btn-lg btn-primary" [routerLink]="['/login']">Login</a>
    </div>
    <div class="col-3 mt-5 p-3 style-home-card">
      <p class="lead">
        If you are not a registered user, please register and then log in.
      </p>
      <a class="btn btn-lg btn-primary" [routerLink]="['/register']"
        >Register</a
      >
    </div>
  </div>
</div>
