<div class="style-registration mt-5">
  <h1 class="text-center">Register</h1>

  <form [formGroup]="form" class="form mt-5" (submit)="submit()">
    <div *ngIf="regError" class="alert alert-danger" role="alert">
      {{ regError.error.errors.password[0] }}
    </div>
    <div *ngIf="regSuccess" class="alert alert-success" role="alert">
      user created successfully! Plaese <a [routerLink]="['/login']">Login</a>
    </div>
    <div class="row">
      <div class="form-group mb-3 col-6">
        <label class="mb-1">First Name</label>
        <input
          type="text"
          formControlName="first_name"
          class="form-control"
          placeholder="Enter First Name"
        />
      </div>

      <div class="form-group mb-3 col-6">
        <label class="mb-1">Last Name</label>
        <input
          type="text"
          formControlName="last_name"
          class="form-control"
          placeholder="Enter Last Name"
        />
      </div>
    </div>

    <div class="row">
      <div class="form-group mb-3 col-12">
        <label class="mb-1">Email</label>
        <input
          type="email"
          formControlName="email"
          class="form-control"
          placeholder="Enter Email"
        />
      </div>
    </div>

    <div class="row">
      <div class="form-group mb-3 col-6">
        <label class="mb-1">Password</label>
        <input
          type="password"
          formControlName="password"
          class="form-control"
          placeholder="Enter Password"
        />
      </div>

      <div class="form-group mb-3 col-6">
        <label class="mb-1">Password Confirmation</label>
        <input
          type="password"
          formControlName="password_confirmation"
          class="form-control"
          placeholder="Enter Password Confirmation"
        />
      </div>
    </div>

    <button class="btn btn-dark btn-block col-12 mt-3" [disabled]="!form.valid">
      Register
    </button>
  </form>
</div>
